<h2>@Model.Title</h2>

@foreach (var block in Model.CntPageBlocks)
{
    if (block.BlockType == "richtext")
    {
        <div class="mb-3">@Html.Raw(block.Content)</div>
    }
    else if (block.BlockType == "image")
    {
        <img src="@block.Content" class="img-fluid mb-3" />
    }
    else if (block.BlockType == "video")
    {
        <div class="ratio ratio-16x9 mb-3">
            <iframe src="@block.Content" frameborder="0" allowfullscreen></iframe>
        </div>
    }
    else if (block.BlockType == "cta")
    {
        var cta = System.Text.Json.JsonSerializer.Deserialize<dynamic>(block.Content);
        <a href="@cta?.url" class="btn btn-primary">@cta?.text</a>
    }
}
